# xcode noise
fotoaday.xcodeproj/*.mode1v3
fotoaday.xcodeproj/*.pbxuser
fotoaday.xcodeproj/*.perspective 
fotoaday.xcodeproj/*.perspectivev3
fotoaday.xcodeproj/*.pyc 
fotoaday.xcodeproj/*~.nib/
build/*

# Textmate - if you build your xcode projects with it
*.tm_build_errorsg

# old skool
.svn

# osx noise
.DS_Store
profile
